@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.loader-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 50;
    background: #000;
    color: #fff;
    
}

marquee {
  color: white;

}

.loader {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 80px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
    background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
    background-size: 2px 40px;
    background-position: 50% 0px;
    animation: spinx 5s linear infinite;
  }
  .loader:before, .loader:after {
    content: "";
    width: 40px;
    left: 50%;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translatex(-50%);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 20px 20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0px;
    animation: lqt 5s linear infinite;
  }
  .loader:after {
    top: auto;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    animation: lqb 5s linear infinite;
  }
  @keyframes lqt {
    0%, 100% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0% 0px;
    }
    50% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0% 40px;
    }
    50.1% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0% -40px;
    }
  }
  @keyframes lqb {
    0% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0 40px;
    }
    100% {
      background-image: linear-gradient(#FF3D00 40px, transparent 0);
      background-position: 0 -40px;
    }
  }
  @keyframes spinx {
    0%, 49% {
      transform: rotate(0deg);
      background-position: 50% 36px;
    }
    51%, 98% {
      transform: rotate(180deg);
      background-position: 50% 4px;
    }
    100% {
      transform: rotate(360deg);
      background-position: 50% 36px;
    }
  }
      

  @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800,900&display=swap");

 
  
  body {
    background: #0D47A1;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }
  
  .container h1 {
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 3.5rem;
  }
  
  #countdown {
    color: #fff;
    font-family: 'Quicksand';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
  
  #countdown .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #countdown .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  #countdown .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 8;
    stroke: #092c62;
    stroke-linecap: round;
    transform: translate(5px, 5px);
  }
  
  #countdown .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
  }
  
  #countdown div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 1.5em;
    line-height: 0.5em;
  }
  
  #countdown div span {
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  /* snowflakes */
  #snowflakes {
    position: fixed;
    top: -50%;
    left: 0;
    width: 150%;
    height: 150%;
    z-index: -1;
    pointer-events: none;
  }
  
  ion-icon[name="snow-outline"] {
    color: #fff;
    position: absolute;
    top: -20px;
    animation: fall linear forwards;
  }
  
  @keyframes fall {
    to {
      transform: translateY(105vh);
    }
  }

  marquee {
    color: white;
    font-size: 2rem;
    z-index: 1;
  }
  
  /* social/share menu */
  .menu {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    margin: 0 1em 1em 0;
    z-index: 9;

  }

  
  .menu #help {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: pointer;
    font-size: 1.75em;
    transition: 1.25s;
  }
  
  .menu li span {
    text-transform: uppercase;
    color:#fff;
    text-align: center;
   
  }
  
  .menu.active .overlay {
    position: absolute;
    right: -1em;
    bottom: -1em;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    
    transition: 0.5s;
  }
  
  .menu.active #help {
    transform: rotate(360deg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15),
    0 0 0 2px #333,
    0 0 0 6px #fff;
  }
  
  .share-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    
  }
  
  .social-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    
  }

  #year {
    color: rgb(255, 115, 250);
    font-weight: bold;

  }
  
  .socialMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .shareMenu li {
    padding: 0 0.75em 0 0;
  }
  
  .socialMenu li {
    padding: 0 0 0.75em;
    
  }
  
  .menu li,
  .menu li {
    list-style: none;
    transition: 0.5s;
    scale: 0;
    transition-delay: calc(0.05s * var(--i));
  }
  
  .menu.active li,
  .menu.active li {
    scale: 1;
  }
  
  .menu li a {
    display: flex;
    width: 45px;
    height: 45px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.4em;
    color: var(--clr);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    margin: 2px;
    transition: 0.5s;
  }
  
  .menu li:hover a {
    font-size: 1.6em;
    box-shadow: 0 0 0 2px var(--clr),
    0 0 0 6px #fff;
  }
  
  @media screen and (max-width: 600px) {
    #countdown .circle {
      width: 100px;
      height: 100px;
    }
  
    #countdown .circle svg {
      height: 100px;
      width: 100px;
    }
  
    #countdown .circle svg circle {
      cx: 45;
      cy: 45;
      r: 45;
      stroke-width: 5;
    }
  
    #countdown div {
      font-size: 1.25em;
    }
  }
  
  @media screen and (max-width: 300px) {
    .text {
      font-size: 25px;
    }
  }
  